.fondo{
    background-image: url('../Portafolio/fondo.avif');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.informacion {
    position: absolute;
    width: 300px;
    height: 216px;
    left: 992px;
    top: 38px;

    background: rgba(236, 250, 111, 0.555);
  }